body{background-color:lightgreen;}

h1{
    font-family:courier;
    font-size:400%;
    text-align:center;
    color:red;
}
p{
    font-family:verdana;
    color:blue;
    
}
div span{
    background-color: yellow;
}

div>span{
    background-color:red;
}
